body{
  background-image: repeating-conic-gradient(lightgray 0% 25%, gray 0% 50%);
background-position: 0 0, 32px 32px;
background-size: 64px 64px;
background-color: #47d3ff;
}
.container{
  margin: 2rem;
  width: 20rem;
  height: 20rem;
  border: solid 20px lightgreen;
  background: gray;
}
.card{
  padding: 5px;
  background: lightcoral;
  border: solid 2px black;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  cursor: move;

}
.btn{
  background: lightgreen;
  padding: 5px;
  border-radius: 5px;
  color: black;
}